<!-- order_history.html -->

<h1>Riwayat Pesanan</h1>

{% if orders %}
  <ul>
    {% for order in orders %}
      <li>
        <strong>Customer:</strong> {{ Order.customer }}<br>
        <strong>Date Ordered:</strong> {{ Order.date_ordered }}<br>
        <strong>Service:</strong> {{ order.service }}<br>
        <strong>Status:</strong> {{ order.status }}<br>
        <!-- Tambahkan informasi pesanan lainnya sesuai kebutuhan -->
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Belum ada pesanan yang tersedia.</p>
{% endif %}
