{% extends 'base.html' %}

{% block content %}
  <h2>Customer Registration</h2>
  <form method="post">
    {% csrf_token %}
    
    <label for="username">username:</label>
    <br>
    <input type="username" id="username" name="username" required>
    <br><br>
    <label for="email">email:</label>
    <br>
    <input type="email" id="email" name="email" required>
    <br><br>
    <label for="password">password:</label>
    <br>
    <input type="password" id="password" name="password" required>
    <br><br>
    <button type="submit">Register</button>
  </form>
{% endblock %}
