{% extends 'base.html' %}

{% block content %}
  <h2>Order Service</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.customer.label_tag }}
    {{ form.customer}}
    <br><br>
    {{ form.service.label_tag }}
    {{ form.service }}
    <br><br>
    {{ form.notes.label_tag }}
    {{ form.notes }}
    <br><br>
    <button type="submit">Place Order</button>
  </form>
{% endblock %}


<form id="payment-form" method="POST" action="{% url 'process_payment' %}">
    {% csrf_token %}
    <!-- Field lain untuk pesanan -->
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#card-element');

        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Kesalahan saat membuat token, tangani kesalahan
                } else {
                    // Berhasil membuat token, kirim token ke server
                    var tokenInput = document.createElement('input');
                    tokenInput.setAttribute('type', 'hidden');
                    tokenInput.setAttribute('name', 'stripeToken');
                    tokenInput.setAttribute('value', result.token.id);
                    form.appendChild(tokenInput);
                    form.submit();
                }
            });
        });
    </script>
</form>
